:root {
  --background: #070609;
  --background-dim: #110E15;
  --text: #ECEAF0;
  --text-dim: #888198;
  --text-dim-50: rgba(136, 129, 152, 0.5);
  --primary: #AEA1C6;
  --primary-shade: #B1AABD;
  --secondary: #503F70;
  --secondary-shade: #544B64;
  --accent: #755AA9;
  --success: #548948;
  --error: #933E3E;

  --margin-xl: 2rem;
  --margin-l: 1rem;
  --margin-m: 0.5rem;
  --margin-s: 0.25rem;

  --button-big: 2rem;
  --button-medium: 1.5rem;
  --button-small: 1rem;

  --text-giant: 64px;
  --text-big: 32px;
  --text-medium: 18px;
  --text-small: 14px;

  --border-radius-xl: 32px;
  --border-radius-l: 16px;
  --border-radius-m: 8px;
  --border-radius-s: 4px;

  --modal-width: 32em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  image-rendering: pixelated;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;


}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins-Regular.ttf');
  /* Regular */
}



body {
  background: var(--background);
  color: var(--text);
  font-family: Poppins, Arial;
  margin: 0;
}

h1 {
  margin-block: var(--margin-xl);
  font-size: var(--text-giant);
}

h2 {
  margin-block: var(--margin-l);
  font-size: var(--text-big);
}

p {
  margin-inline: var(--margin-m);
  font-size: var(--text-medium);
  margin-block: var(--margin-s);
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  width: var(--text-medium);
  height: var(--text-medium);
  border-radius: var(--border-radius-s);
  align-content: center;
  justify-content: center;
  font: inherit;
  font-size: var(--text-medium);
  background: var(--secondary-shade);
  cursor: pointer;
}

input[type="checkbox"]::before {
  clip-path: polygon( 99.977% 25.916%,99.977% 25.916%,100.747% 26.892%,101.345% 27.959%,101.772% 29.096%,102.029% 30.279%,102.114% 31.485%,102.029% 32.691%,101.772% 33.874%,101.345% 35.011%,100.747% 36.079%,99.977% 37.054%,41.623% 100%,41.623% 100%,40.718% 100.83%,39.728% 101.475%,38.675% 101.936%,37.578% 102.213%,36.46% 102.305%,35.342% 102.213%,34.245% 101.936%,33.192% 101.475%,32.202% 100.83%,31.297% 100%,2.12% 68.527%,2.12% 68.527%,1.351% 67.551%,0.752% 66.484%,0.325% 65.347%,0.068% 64.164%,-0.017% 62.958%,0.068% 61.752%,0.325% 60.569%,0.752% 59.432%,1.351% 58.364%,2.12% 57.389%,2.12% 57.389%,3.024% 56.559%,4.014% 55.913%,5.068% 55.452%,6.165% 55.176%,7.283% 55.084%,8.401% 55.176%,9.497% 55.452%,10.551% 55.913%,11.541% 56.559%,12.446% 57.389%,36.471% 83.28%,89.674% 25.916%,89.674% 25.916%,90.579% 25.086%,91.569% 24.441%,92.622% 23.98%,93.719% 23.703%,94.837% 23.611%,95.955% 23.703%,97.052% 23.98%,98.105% 24.441%,99.095% 25.086%,100% 25.916% );
  content: "";
  width: var(--text-medium);
  height: var(--text-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) translateY(-20%);
  transition: transform 0.1s ease-in-out;
  background: var(--accent);
}

input[type="checkbox"]:checked::before {
  transform: scale(1.1) translateY(-20%);
}

input[type="checkbox"]:checked {
  background: var(--primary);
}

input[type="text"], input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: var(--border-radius-s);
  background: var(--primary-shade);
  max-width: 5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
    width: var(--text-small);
  }

  ::-webkit-scrollbar-track {
    border-radius: var(--border-radius-l);
    background: var(--primary-shade);
    border: none;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-l);
    background: var(--secondary);
  }

  select {
    background: var(--accent);
    color: var(--text);
    border-radius: var(--border-radius-l);
    border: none;
    padding-inline-start: var(--margin-s);
  }

