:root {
  --background: #070609;
  --background-dim: #110E15;
  --text: #ECEAF0;
  --text-dim: #9388AA;
  --primary: #AEA1C6;
  --primary-shade: #B1AABD;
  --secondary: #503F70;
  --secondary-shade: #544B64;
  --accent: #755AA9;
  --success: #548948;
  --error: #933E3E;

  --margin-xl: 2rem;
  --margin-l: 1rem;
  --margin-m: 0.5rem;

  --button-big: 2rem;
  --button-medium: 1.5rem;
  --button-small: 1rem;

  --text-giant: 64px;
  --text-big: 32px;
  --text-medium: 18px;
  --text-small: 14px;

  --border-radius-xl: 32px;
  --border-radius-l: 16px;
  --border-radius-m: 8px;
  --border-radius-s: 4px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins-Regular.ttf');
  /* Regular */
}



body {
  background: var(--background-dim);
  color: var(--text);
  font-family: Poppins, Arial;  
}
